* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}

.container {
  width: 850px;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  padding: 30px 35px;
}

.container h2 {
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper {
  display: flex;
  margin: 20px 0;
  min-height: 335px;
}
.wrapper .editor-panel {
  border: 1px solid #ccc;
  padding: 15px 20px;
  width: 280px;
  border-radius: 5px;
}
.editor-panel .title {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.editor-panel .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-panel button {
  height: 40px;
}
